@import "./constants.css";
@import "./themes/theme.css";

:root {
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  background-color: var(--bg-main, #FFFFFF);
  box-sizing: border-box;
  color: var(--text-primary, #000000);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  user-select: none;
  font-family: "Roboto Flex", serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--accent, #000000);
}

