body {
  font-family: 'Times New Roman', Times, serif
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  margin: 20px;
}

.output {
  margin: 20px;
  /* background-color: #f5f5f5; */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 40px !important;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item .letter {
  cursor: pointer;
  font-size: 48px;
}

.grid-item:hover {
  font-weight: bolder;
}

.grid-item .translit {
  font-size: 18px;
  font: uppercase;
  color: #666;
}

.blink {
  animation: fade 1s infinite;
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}